<div style="position: relative">

  <div class="row header">

    <div class="col">
      <h5> Pitääkö minun olla kotona?
      </h5>
    </div>
    <div class="col-auto">
      <svg (click)="close()" style="width:24px;height:24px; cursor: pointer; color: #e50000;" viewBox="0 0 24 24">
        <path
          d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"
          fill="currentColor"/>
      </svg>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span
        style="font-size:11pt;font-family:Lato-M;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><b>1. Voiko maksun suorittaa eriss&auml;?</b></span>
      </p>

      <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span
        style="font-size:11pt;font-family:Lato-M;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Kyll&auml; voi. Valitset vain laskutusmuodoksi rahoitus niin voit valita sinulle sopivan kuukausittaisen maksuer&auml;n.</span>
      </p>
<br>
      <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span
        style="font-size:11pt;font-family:Lato-M;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><b>2. Miten paljon ilmal&auml;mp&ouml;pumppu s&auml;&auml;st&auml;&auml; l&auml;mmityskustannuksissa?</b></span>
      </p>

      <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span
        style="font-size:11pt;font-family:Lato-M;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Ilmal&auml;mp&ouml;pumpulla s&auml;&auml;st&auml;t l&auml;mmityskuluissa, olipa p&auml;&auml;l&auml;mmitysj&auml;rjestelm&auml;st&auml;si mik&auml; tahansa. Isoimpiin s&auml;&auml;st&ouml;ihin p&auml;&auml;st&auml;&auml;n yleens&auml; suoras&auml;hk&ouml;- ja &ouml;ljyl&auml;mmitteisiss&auml; kodeissa. S&auml;&auml;st&ouml;t voivat olla jopa 300-500 euroa vuodessa.&nbsp;</span>
      </p>
      <br>
      <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span
        style="font-size:11pt;font-family:Lato-M;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><b>3. Jos talossa on takka, kannattaako ilmal&auml;mp&ouml;pumppua asentaa?</b></span>
      </p>

      <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span
        style="font-size:11pt;font-family:Lato-M;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Ilmal&auml;mp&ouml;pumpun avulla takan l&auml;mmitt&auml;m&auml; ilma saadaan levitetty&auml; isommalle alueelle. Saat miellytt&auml;v&auml;mm&auml;n, raikkaan sis&auml;ilman ja my&ouml;s lattiat tuntuvat l&auml;mpim&auml;mmilt&auml; laitteen l&auml;heisyydess&auml;. Samalla s&auml;&auml;st&auml;t l&auml;mmityskuluissa.</span>
      </p>
<br>
      <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span
        style="font-size:11pt;font-family:Lato-M;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><b>4. Voiko ilmal&auml;mp&ouml;pumpulla l&auml;mmitt&auml;&auml; alle -20C ulkol&auml;mp&ouml;tilassa?</b></span>
      </p>

      <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span
        style="font-size:11pt;font-family:Lato-M;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Uusilla ilmal&auml;mp&ouml;pumpuilla voidaan tuottaa l&auml;mp&ouml;&auml; jopa -30C pakkaselle asti. Koska ilmal&auml;mp&ouml;pumppu ottaa l&auml;mm&ouml;n ulkoilmasta, sen l&auml;mm&ouml;ntuottokyky kuitenkin pienenee selke&auml;sti -20C j&auml;lkeen.&nbsp;</span>
      </p>
<br>
      <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span
        style="font-size:11pt;font-family:Lato-M;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><b>5. Tarvitsenko muuta l&auml;mm&ouml;nl&auml;hdett&auml; ilmal&auml;mp&ouml;pumpun lis&auml;ksi?</b></span>
      </p>

      <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span
        style="font-size:11pt;font-family:Lato-M;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Ilmal&auml;mp&ouml;pumppu ei tuota l&auml;mp&ouml;&auml; tarpeeksi kovilla pakkasilla. Siksi tilassa on talvella oltava aina kaverina joku muu l&auml;mm&ouml;nl&auml;hde. Esimerkiksi s&auml;hk&ouml;-, &ouml;ljy- tai puul&auml;mmitys.</span>
      </p>

      <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span
        style="font-size:11pt;font-family:Lato-M;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><b>6. Voiko ilmal&auml;mp&ouml;pumppua k&auml;ytt&auml;&auml; m&ouml;kin tai autotallin yll&auml;pitol&auml;mmitykseen talvella?</b></span>
      </p>

      <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span
        style="font-size:11pt;font-family:Lato-M;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Kyll&auml; voi. Uusissa ilmal&auml;mp&ouml;pumpuissa on usein yll&auml;pitol&auml;mp&ouml;tila &ndash;toiminto, jolla voidaan pit&auml;&auml; l&auml;mp&ouml;tila esimerkiksi +10C asteessa.&nbsp;</span>
      </p>

      <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span
        style="font-size:11pt;font-family:Lato-M;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Huom! sis&auml;l&auml;mp&ouml;tila ei saa laskea alle +5C l&auml;mp&ouml;tilan, muuten ilmal&auml;mp&ouml;pumppu ei toimi. Eli samassa tilassa pit&auml;&auml; olla aina varalta muu l&auml;mmitys, jok&auml; l&auml;htee p&auml;&auml;lle viimeist&auml;&auml;n silloin kun sis&auml;l&auml;mp&ouml;tila on +5C.</span>
      </p>
      <br>
      <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span
        style="font-size:11pt;font-family:Lato-M;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><b>7. Onko ilmal&auml;mp&ouml;pumpulla viilent&auml;minen kallista?</b></span>
      </p>

      <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span
        style="font-size:11pt;font-family:Lato-M;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Ilmal&auml;mp&ouml;pumpulla viilent&auml;minen maksaa keskim&auml;&auml;rin noin 0,30-1,00&euro;. Viilent&auml;minen on tehokkainta jos ilmal&auml;mp&ouml;pumppu on koko ajan p&auml;&auml;ll&auml; eik&auml; sit&auml; v&auml;lill&auml; sammuteta. Sopiva l&auml;mp&ouml;tila viilennykseen on noin +24-25C, koska ilmal&auml;mp&ouml;pumppu poistaa viilennyksess&auml; my&ouml;s kosteutta.</span>
      </p>
<br>
      <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span
        style="font-size:11pt;font-family:Lato-M;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><b>8. Kannattaako ilmal&auml;mp&ouml;pumppu sammuttaa v&auml;lill&auml;, vai pit&auml;&auml; koko ajan p&auml;&auml;ll&auml;?</b></span>
      </p>
      <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span
        style="font-size:11pt;font-family:Lato-M;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Suosittelemme ett&auml; pid&auml;t ilmal&auml;mp&ouml;pumpun aina p&auml;&auml;ll&auml;. Jos pid&auml;t ilmal&auml;mp&ouml;pumppua p&auml;&auml;ll&auml; vain esim. iltaisin, ilmal&auml;mp&ouml;pumppu joutuu k&auml;ytt&auml;m&auml;&auml;n t&auml;ytt&auml; tehoa jolloin kulutus on huomattavasti isompi kuin se ett&auml; laite olisi koko ajan p&auml;&auml;ll&auml;.</span>
      </p>
<br>
      <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span
        style="font-size:11pt;font-family:Lato-M;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><b>9. Mink&auml; tehoinen ilmal&auml;mp&ouml;pumppu kannattaa ostaa?</b></span>
      </p>

      <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span
        style="font-size:11pt;font-family:Lato-M;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Verkkokaupassa sinun on helppo valita laite, kun tied&auml;t paljonko viilennett&auml;v&auml;ss&auml; tilassa on neli&ouml;it&auml;. Jos ilmal&auml;mp&ouml;pumppu on liian pienitehoinen, se k&auml;y t&auml;ysill&auml; kierroksilla koko ajan ja kuluttaa enempi s&auml;hk&ouml;&auml; ja laite vanhenee nopeammin. My&ouml;sk&auml;&auml;n liian isotehoinen laite ei ole hyv&auml;ksi laitteelle.&nbsp;</span>
      </p>
<br>
      <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span
        style="font-size:11pt;font-family:Lato-M;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><b>10. Miten usein ilmal&auml;mp&ouml;pumppua pit&auml;&auml; huoltaa?</b></span>
      </p>
       <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span
        style="font-size:11pt;font-family:Lato-M;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Huolla ilmal&auml;mp&ouml;pumppu ohjekirjan suositusten mukaisesti. T&auml;rkeint&auml; on pit&auml;&auml; sis&auml;yksikk&ouml; puhtaana imuroimalla se s&auml;&auml;nn&ouml;llisesti. Puhdista samalla my&ouml;s karkeasuodattimet laitteen sis&auml;ll&auml;, esimerkiksi vedell&auml;.</span>
      </p>
        <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span
        style="font-size:11pt;font-family:Lato-M;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Jos p&ouml;ly menee karkeiden suodatinten alla olevaan l&auml;mm&ouml;nvaihtokennoon ja j&auml;m&auml;ht&auml;&auml; sinne, ilmal&auml;mp&ouml;pumppu ei pysty luovuttamaan l&auml;mp&ouml;&auml; niin tehokkaasti jolloin l&auml;mmitt&auml;minen ja viilent&auml;minen tulee kalliimmaksi.&nbsp;</span>
      </p>
       <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span
        style="font-size:11pt;font-family:Lato-M;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Suosittelemme sis&auml;yksik&ouml;n syv&auml;puhdistusta viimeist&auml;&auml;n 3 vuotta laitteen asentamisesta. T&auml;m&auml;n voi suorittaa L&auml;mp&ouml;Ykk&ouml;sen huoltomies.</span>
      </p>
      <br>
          <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span
            style="font-size:11pt;font-family:Lato-M;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"><b>11. Miten pitk&auml;t takuut laitteilla ja asennuksella on.</b></span>
      </p>
           <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span
        style="font-size:11pt;font-family:Lato-M;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Kaikilla laitteilla on v&auml;hint&auml;&auml;n 24 kuukauden t&auml;ystakuu ja asennustakuu. L&auml;mp&ouml;Ykk&ouml;sell&auml; voit oston yhteydess&auml; valita my&ouml;s pidemm&auml;n takuun, esimerkiksi 60 kuukautta (5 vuotta).</span>
      </p>
      </div>
  </div>

</div>
