<mat-card class="main-card  mat-elevation-z5 my-3" style="border-radius: 22px;">
  <div class="d-flex">
    <mat-checkbox (change) ="startdateSelection($event)" class="L-SB" style="margin-left: 5px; padding: 5px;">{{"cal"|language}}
    </mat-checkbox>
<!--     <svg #tooltip="matTooltip" [matTooltipPosition]="position.value"-->
<!--         aria-label="Button that displays a tooltip that hides when scrolled out of the container"-->
<!--         class="example-button"-->
<!--         matTooltip="Info about the action"-->
<!--         matTooltipHideDelay="1000"-->
<!--         style="width:24px;height:24px; margin-top: 5px;"-->
<!--         viewBox="0 0 24 24">-->
<!--      <path-->
<!--        d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z"-->
<!--        fill="currentColor"/>-->
<!--    </svg>-->

  </div>
  <div class="row">
    <div class="col-6">
      <div *ngIf="hideCal" class="text-start mt-4">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>{{"chDa"|language}}</mat-label>
          <input  [(ngModel)]="dataShare.startDate" [matDatepicker]="picker" matInput>
          <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="d-flex;">
    <h4 class="m-t-20 m-b-20 " style="margin-top: 17px; margin-left: 5px; padding: 5px">{{"insDateTime"|language}}
<!--      <svg #tooltip="matTooltip" [matTooltipPosition]="position.value"-->
<!--           aria-label="Button that displays a tooltip that hides when scrolled out of the container"-->
<!--           class="example-button"-->
<!--           matTooltip="Info about the action"-->
<!--           matTooltipHideDelay="1000"-->
<!--           style="width:24px;height:24px; color: black; margin-top: 5px;"-->
<!--           viewBox="0 0 24 24">-->
<!--        <path-->
<!--          d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z"-->
<!--          fill="currentColor"/>-->
<!--      </svg>-->
    </h4>
  </div>
  <div class="L-M" style="margin-left: 5px; padding: 5px; font-size: 12px; cursor: pointer; color: #F06A6A" (click)="openDialog()"> {{"faq" | language}}
    <svg #tooltip="matTooltip" [matTooltipPosition]="position.value"
         aria-label="Button that displays a tooltip that hides when scrolled out of the container"
         class="example-button"
         matTooltip="{{('faq'|language)}}"
         matTooltipHideDelay="1000"
         style="width:18px;height:18px;  margin-left: 1px; color: #F06A6A; font-weight: 600"
         viewBox="0 0 24 24">
      <path
        d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z"
        fill="currentColor"/>
    </svg>
  </div>



  <div *ngIf="timeSlot.length > 0"  class="button_style ">
    <button (click)="getNextSlots(timeSlot[0].date, true)" *ngIf="timeSlot[0].date.isAfter(currentDate)"
            class="btn_next"
            mat-raised-button>
      <svg style="width:14px;height:14px" viewBox="0 0 24 24">
        <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z" fill="currentColor"/>
      </svg>
      {{"preDa"|language}}
    </button>
    <button (click)="getNextSlots(timeSlot[6].date, false)" class="btn_next text-center" mat-raised-button>{{"nexDa"|language}}
      <svg style="width:14px;height:14px" viewBox="0 0 24 24">
        <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z" fill="currentColor"/>
      </svg>
    </button>

  </div>


  <div *ngIf="ready">
    <div *ngFor="let date of timeSlot" class="my-3">

      <div *ngIf="date.slots.length === 0" class="border-bottom no_slot">
        <p class="mb-0 pt-3 L-SB">{{util.getDayName(date.day)?.day | language}} {{util.getDayName(date.day)?.time}}({{"noTime"| language}})</p>
      </div>
      <div>

        <div *ngIf="date.slots.length > 0" class="border my-3">
          <div class="my-3">
            <div class="L-SB day_Style">
              {{util.getDayName(date.day)?.day | language}} {{util.getDayName(date.day)?.time}}&nbsp;
            </div>
          </div>
          <span *ngFor="let item of date.slots">
<!--            {{item | json}}-->
                <button (click)="getSlotValue(item)" class="time-slot"
                        mat-button><span>{{dataShare.getTime(item.start)}}
                  - {{dataShare.getTime(item.end)}}</span></button>
            <!--                <button *ngIf="item.available" [class] = "timeSelectedCss(item)"  mat-button (click)="scheduleInfo(item)"><span>{{item.from}} - {{item.till}} <br>({{item.name}})</span></button>-->
              </span>
        </div>

      </div>


    </div>

  </div>

  <div *ngIf="!contactForm" class="contact_div">

    <span class="info_text L-SB">{{"didFinRiTi"|language}} </span>
    <p class="font-regular L-M">{{"leUsKnow"|language}}</p>
    <div class="example-button-row ">
      <button type="button" (click)="openContactForm()" class="btn_contact L-SB" mat-button>
        {{"Conta"|language}}
      </button>
    </div>
  </div>

  <div *ngIf="contactForm" class="contact_div">
    <form  [formGroup]="ContactUs" class="my-3">

      <p class="L-M">{{"subslot"|language}}</p>
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label class="L-M"> {{"pho"|language}}</mat-label>
            <input [maxLength]="10" class="w-full L-M"
                   formControlName="phone"
                   matInput required
                   type="tel">
            <mat-error class="L-M">
              {{"pleEntValNum"|language}}
            </mat-error>
          </mat-form-field>
        </div>

      </div>
      <div class="row">
        <div class="col-md-12 col-lg-12">

          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label class="L-M"> {{"em"|language}}</mat-label>
            <input
              class="w-full L-M" formControlName="email"
              matInput
              required
              type="email">
            <mat-error class="L-M">
              {{"pleEntVAlEm"|language}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-6">
          <mat-form-field appearance="outline" class=" w-100">
            <mat-label>{{"chDa"|language}}</mat-label>
            <input [matDatepicker]="picker" formControlName="date" matInput>
            <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{"ti"|language}}</mat-label>
            <input   [format]="24" [ngxTimepicker]="defaultValue" formControlName="time" matInput readonly type="time">
            <ngx-material-timepicker [theme]="clockTheme" #defaultValue></ngx-material-timepicker>
            <mat-error>{{"fiCanEmp"|language}}</mat-error>
          </mat-form-field>
        </div>
      </div>

    </form>

    <div class="text-right">
      <button (click)="moveNextTab()" type="submit" [disabled]="(!ContactUs.valid)" class="btn_ok font-medium" mat-flat-button
              matStepperNext>
        {{"Ok"|language}}
      </button>
      <button type="button" (click)="contactForm = false" class="btn_cancel font-medium" mat-flat-button>{{"Can"|language}}</button>
    </div>
  </div>


</mat-card>
<div class="example-button-row ">
  <button  type="button"  *ngIf="!contactForm"  [disabled]="!(dataShare.startDate || dataShare.slotsSelected)" class="btn_continue L-SB" (click)="continueCalendar()" mat-button matStepperNext
  >{{"conti"|language}}
  </button>
</div>
