
<div style="position: relative">

  <div class="row header" style="flex-wrap: nowrap">

    <div class="col-lg-10 col-sm-8">
      <h5 class="western heading" lang="fi-FI"><strong>LIITE TILAUSVAHVISTUKSEEN</strong></h5>
      <h5 class="western heading" lang="fi-FI"><strong>YLEISET TOIMITUSEHDOT JA TYÖOHJELMA, ILMALÄMPÖPUMPUT</strong></h5>
    </div>
    <div class="col-lg-2 col-sm-4" style="text-align: right">
      <svg (click)="close()" style="width:24px;height:24px; cursor: pointer; color: #e50000;" viewBox="0 0 24 24">
        <path
          d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"
          fill="currentColor"/>
      </svg>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">

        <div class="terms_content">
          <!--                    <p lang="fi-FI"><span style="font-size: large;"><strong>Asumismukavuutesi ratkaisee</strong></span></p>-->


          <p class="western" lang="fi-FI"> Tuotteiden asennuksesta, teknisestä tuesta ja mahdollisista huolloista vastaa LämpöYkkönen Oy. Yleiset toimitusehdot on laadittu
            projektin sujuvuuden ja parhaan lopputuloksen saavuttamiseksi. Pyydämme tilaajaa tutustumaan niihin hyvissä ajoin ennen työn
            aloittamista. Asennukseen, huoltoon ja tekniseen tukeen liittyvissä asioissa voit ottaa LämpöYkköseen yhteyttä seuraavasti netissä:
            <a href="https://lampoykkonen.fi/huoltopyynto" target="_blank"> www.lampoykkonen.fi/huoltopyynto</a> tai puhelimella p. 020 749 7820 (HelpDesk auki 24/7)..</p>
          <h5 class="western heading" lang="fi-FI"><strong>Työohjelma, perusasennukseen kuuluvat työt:</strong></h5>
          <p class="western" lang="fi-FI">Ilmalämpöpumpun lopullisen sijainnin varmistaminen. Sisäyksikön asennus sovittuun paikkaan. Läpivientien teko
            (perusasennuksessa vain puu/harkko/tiili, ei valettu betoni). Valkoisten peitekourujen pohjien ja pintaosien asennus. Ulkoyksikön
            telineen asennus. Ulkoyksikön asennus. Kylmäaineputkien vetäminen sisäyksiköltä ulkoyksikölle (max. 5 metriä ellei toisin sovittu).
            Kondenssivesiputkien asennus. Sisä- ja ulkoyksikön välisien sähköjohtojen liittäminen. Kylmäaineiden täyttäminen putkistoon.
            Mahdollisten vuotojen tarkistaminen mittauslaitteilla. Kylmäaineputkien ja läpivientien eristäminen. Viimeistelytyöt. Laitteen
            koekäyttö mahdollisuuksien mukaan. Laitteen käyttöopastus asiakkaalle.</p>
          <p class="western" lang="fi-FI">Huomioithan, että Wifi- ja GSM-ohjaimen (lisätuote) asennukseen sisältyy vain adapterin asennus laitteeseen. Asennus ei sisällä
            puhelimeen/päätelaitteeseen tehtäviä asennuksia/yhteyksiä. LämpöYkkönen ei vastaa ohjaimen ohjelmistopäivityksistä eikä
            ohjaimen yhteensopivuudesta kohteen langattoman sovittimen kanssa.</p>


          <h5 class="western heading" lang="fi-FI"><strong>Asennusaikataulut:</strong></h5>
          <p class="western" lang="fi-FI">Asentajamme soittaa tilaajalle tarkistussoiton viimeistään asennusta edeltävänä iltana, jolloin voidaan sopia tarkemmin esim.
            asennuksen aloittamisen kellonajasta. Asennusaikataulua on mahdollista muuttaa ilman lisäkustannuksia, mikäli se tehdään
            viimeistään 1 viikko ennen sovittua asennusajankohtaa. Aikataulumuutokset tulee aina tehdä sähköpostitse osoitteeseen <a href="">info@lampoykkonen.fi</a> tai puhelimitse p. 020 749 7820. Mikäli asennusaikataulun siirto tapahtuu myöhemmin (alle 1 viikko ennen
            sovittua ajankohtaa), Lämpöykkönen Oy:llä on oikeus veloittaa siirrosta 150,00 € / siirto. LämpöYkkönen Oy pidättää oikeuden
            siirtää asennus seuraavaan mahdolliseen ajankohtaan.</p>

          <p class="western" lang="fi-FI">LämpöYkkönen asentaa vain pitkän elinkaaren omaavia laitteistoja. Tästä syystä LämpöYkkönen tarkastaa ennen asennusta
            järjestelmän toiminnalliset edellytykset. Mikäli tässä vaiheessa havaitaan seikkoja, jotka vaikuttavat laitteiden toiminnallisuuteen
            tms on tämä sopimus mahdollista purkaa toimittajan toimesta ilman asiakkaalle koituvia kuluja.</p>

          <h5 class="western heading" lang="fi-FI"><strong>Tilaajan velvollisuudet:</strong></h5>
          <p class="western" lang="fi-FI">Tilaaja huolehtii huonekalujen/muiden tavaroiden siirtämisestä sekä tarpeen vaatiessa niiden suojaamisesta, jotta asentaja pääsee
            esteettömästi työskentelemään. Tilaaja vastaa ulkoyksikön sulatusvesien ohjaamisesta lämmityskäytöllä. Tilaaja luovuttaa työhön
            tarvittavan veden ja sähkövirran veloituksetta. Tilaaja on paikan päällä ottamassa vastaan laitteen käyttöopastuksen, asennuksen
            yhteydessä. Jos paikan päällä käydään erikseen, veloitamme opastuksesta 91,00€/tunti ja matkakorvaukset 1,00€/km.</p>

          <h5 class="western heading" lang="fi-FI"><strong>Takuut ja huolto:</strong></h5>
          <p class="western" lang="fi-FI">LämpöYkkönen Oy antaa työlleen rakennusalan yleisten sopimusehtojen (YSE 1998) mukaisen 2 vuoden takuun. Laitetakuu toimii
            materiaalien ja laitteiden osalta valmistajien takuuehtojen mukaisesti. Mahdollisista lisätakuista sovitaan erikseen
            tilausvahvistuksessa. Asentaja luovuttaa tilaajalle asennuksen yhteydessä Käyttöönotto- ja tarkastuspöytäkirjan (TUKES:n suositus)
            joka toimii laitteen takuutodistuksena. Ilmalämpöpumppu on lisälämmönlähde, joten sitä ei ole tarkoitettu ainoaksi
            lämmönlähteeksi.</p>

          <h5 class="western heading" lang="fi-FI"><strong>Peruutusoikeus:</strong></h5>
          <p class="western" lang="fi-FI">
            Palvelulla on yleinen 14 vuorokauden peruutusoikeus (kuluttajansuojalaki 6 luku 9 §). Peruuttamisaika lasketaan
            palvelusopimuksen tekemisestä. Peruutus tulee tehdä kirjallisesti osoitteeseen <a href="#">info@lampoykkonen.fi</a>
            tai puhelimitse p. 020 749
            7820, 14 vrk jälkeen peruutetusta sopimuksesta veloitamme 10% kauppasummasta.
          </p>
          <h5 class="western heading" lang="fi-FI"><strong>Kylmäaineputket</strong></h5>
          <p class="western" lang="fi-FI">
            Huomioithan että tilaukseen sisältyy aina viisi (5) metriä putkivetoa. Lisämetrit tulevat lisähinnasta, ellei niitä ole sopimukselle
            erikseen kirjattu. Lisämetreistä veloitamme 45 €/metri (putkikoko 3/8” – 1/4”). Hinta sisältää tarvikkeet ja työn.
          </p>

          <h5 class="western heading" lang="fi-FI"><strong>Lisätuotehinnasto (mikäli ei sisälly urakkaan)</strong></h5>

          <div class="column">
            <div >
              Timanttiporaus 0-300mm
            </div>
            <div class="price-margin">299,00 €</div>
          </div>

          <div class="column">
            <div >
              Sähköt keskukselta
            </div>
            <div class="price-margin">299,00 €</div>
          </div>

          <div class="column">
            <div >
              Kiilax-metallinen suojakotelo (vaaka, valkoinen)
            </div>
            <div class="price-margin">199,00 €</div>
          </div>

          <div class="column">
            <div >
              Kiilax-metallinen suojakotelo (parveke, valkoinen)
            </div>
            <div class="price-margin">229,00€</div>
          </div>

          <div class="column">
            <div >
              Suojakotelon asennus, lämpöpumppuasennuksen yhteydessä
            </div>
            <div class="price-margin">45,00€</div>
          </div>

          <div class="column">
            <div >
              Maateline 630mm tai sokkeliteline
            </div>
            <div class="price-margin">65,00€</div>
          </div>

          <div class="column">
            <div >
              Toshiba Home AC Control-Wifi ohjain
            </div>
            <div class="price-margin">139,00€</div>
          </div>

          <div class="column">
            <div >
              Nostimen vuokraus (sisältää kuljetuksen)
            </div>
            <div class="price-margin">430,00 €</div>
          </div>

        </div>

      <h5 class="western heading" style="margin-left: 8px" lang="fi-FI"><strong>PERUUTTAMISILMOITUS</strong></h5>
      <div class="column">
        <div >
          Elinkeinonharjoittajan nimi:
        </div>
        <div class="price-margin"><u>LämpöYkkönen Oy</u></div>
      </div>
<br>

      <div class="column">
        <div >
          Elinkeinonharjoittajan osoite:
        </div>
        <div class="price-margin"><u>Koivupurontie 6, 40320 Jyväskylä</u></div>
      </div>
      <br>
      <p class="western" lang="fi-FI">

        Kuluttajansuojalain 6 luvun säännösten nojalla peruutan <u>_________</u> päivänä <u>_________</u>
        kuuta 20 <u>_________</u> tehdyn kaupan, jolla ostin (palvelu)
        <br>
        <u>_______________________________________________________________________________________________</u>
        <br>
        <br>
        <u>____</u>päivänä <u>_____________</u> kuuta 20 <u>________</u>
        <br>
        <br>
        <u>_______________________________________________________________________________________________</u>
        (ostajan allekirjoitus ja nimenselvennys)
        <br>
        Toimita peruutusilmoitus osoitteeseen: <a href="#">info@lampoykkonen.fi</a>

        tai osoitteeseen LämpöYkkönen Oy,
        Koivupurontie 6, 40320 Jyväskylä
      </p>
    </div>
  </div>
</div>
