
<mat-card class="main-card  mat-elevation-z5 my-3" style="border-radius: 22px;
    width: 70%;
    margin: 150px auto 100px auto!important;
    padding: 12px 51px;">

  <div class="container " >
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class=" text-center align-self-center">
        <img src="assets/images/order-success-page.png" class="w-100:">
      </div>
      <div class="heading">
        {{"yoOrComp"|language}}
      </div>
      <p class="text-center sub_text">{{"orRec"|language}} </p>
    </div>
  </div>
</div>
</mat-card>


