<div style="position: relative">

  <div class="row header">

    <div class="col">
      <h5> Näin tilaat
      </h5>
    </div>
    <div class="col-auto">
      <svg (click)="close()" style="width:24px;height:24px; cursor: pointer; color: #e50000;" viewBox="0 0 24 24">
        <path
          d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"
          fill="currentColor"/>
      </svg>
    </div>

  </div>
  <div class="row ">

    <div class="col-lg-12 col-md-12 col-sm-12">
      <p><span
        style="font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: pre-wrap; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgba(32, 33, 36, 0.04); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">
        <ol style="margin-left: -27px;">
          <li>
             Kuvaile kohdettasi, jonka j&auml;lkeen suosittelemme sinulle sopivia tuotteita.
          </li>
          <li>
           Valitse itsellesi sopiva asennusaika. Jos et l&ouml;yd&auml; aikaa, muista, ett&auml; voit aina olla meihin yhteydess&auml;!</li>
          <li>
            Sy&ouml;t&auml; tietosi ja tilaa palvelu.
          </li>
        </ol>
      </span>
      </p>
    </div>
  </div>
</div>
