<div style="position: relative">

  <div class="row header">

    <div class="col">
      <h5> Kuinka toimitus tapahtuu?
      </h5>
    </div>
    <div class="col-auto">
      <svg (click)="close()" style="width:24px;height:24px; cursor: pointer; color: #e50000;" viewBox="0 0 24 24">
        <path
          d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"
          fill="currentColor"/>
      </svg>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <p>Kun olet tehnyt tilauksen verkkokaupasta, otamme sinuun yhteytt&auml; ja sovimme toimitus tai asennusp&auml;iv&auml;n.
        T&auml;ss&auml; yhteydess&auml; voit my&ouml;s ostaa lis&auml;tuotteita kuten asennuksen, pidemm&auml;n
        putkivedon, useampia l&auml;pivientej&auml;, s&auml;hk&ouml;ty&ouml;t keskukselta, timanttiporauksen,
        maatelineen, puusuojakotelon, et&auml;ohjaimen tai varata ensimm&auml;isen huollon.</p>

      <p>Toimitusehdot (ilmal&auml;mp&ouml;pumpputilaus sis&auml;lt&auml;en asennuksen)</p>

      <p>Toimitus sis&auml;lt&auml;&auml; sijoituksen suunnittelun asennuksen yhteydess&auml;, laitteiston asennuksen, k&auml;ytt&ouml;opastuksen
        ja teknisen tuen. Sis&auml;lt&auml;&auml; kilometrit 70 km l&auml;himm&auml;st&auml; toimipisteest&auml;</p>

      <p>Ilmal&auml;mp&ouml;pumpun sijainnin suunnittelu, asiakas yhdess&auml; asentajan kanssa.</p>
      <p>L&auml;piviennin teko ja erist&auml;minen, puusein&auml;&auml;n tai tiiliverhoiltuun sein&auml;&auml;n.</p>
      <p>Sis&auml;yksik&ouml;n ja ulkoyksik&ouml;n asennus sein&auml;telineelle.</p>
      <p>Sis&auml;- ja ulkoyksik&ouml;n v&auml;linen kylm&auml;aineputkitus ja erist&auml;minen, 3 metri&auml; sis.
        hintaan.</p>
      <p>Mahdollisten vuotojen tarkistaminen mittauslaitteilla.</p>
      <p>Valkoisten suojakourujen asennus.</p>
      <p>S&auml;hk&ouml;jen kytkent&auml; valmiille pistorasialle, et&auml;isyys max. 3 metri&auml;.</p>
      <p>Viimeistelyty&ouml;t.</p>
      <p>Laitteen koek&auml;ytt&ouml; mahdollisuuksien mukaan.</p>
      <p>Laitteen k&auml;ytt&ouml;opastus asiakkaalle.</p>
      <p>Tekninen tuki.</p>
      <p>Toimitusehdot (vain toimitustilauksissa)</p>
      <p>Toimitus voidaan sopia joko toimitettuna asiakkaan haluamaan osoitteeseen tai noutona l&auml;himm&auml;st&auml;
        myym&auml;l&auml;st&auml;. Huomioithan, ett&auml; l&auml;mp&ouml;pumppujen asennus vaatii TUKESin hyv&auml;ksym&auml;n
        asentajan/asennusliikkeen ja toimituksesta sovittaessa tulee toimittaa asentajan/asennusliikkeen tiedot.</p>
      <p>Takuut ja huolto</p>
      <p>Takuut ovat laitekohtaisia. Lis&auml;tietoa takuista saat chatist&auml; sivun alareunasta tai soittamalla
        verkkokauppanumeroomme 020 742 4101</p>
      <p>Kotitalousv&auml;hennys</p>
      <p>Asennuksen osuus on 780 &euro;, josta kotitalousv&auml;hennykseen voi hakea 390 &euro; (vuonna 2018).</p>
      <p>Lis&auml;tietoja?</p>
      <p>Jos haluat lis&auml;tietoa toimitukseen liittyvist&auml; asioista, kysy lis&auml;&auml; chatista sivun
        alareunasta tai soita p. 020 742 4101 (ma-pe klo 8 &ndash; 17).</p>
    </div>
  </div>
</div>
